.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.fastq.gz
*.bam
*.bai
*.bw
*.bdg
*.pptx
*.xlsx
*.docx
*.xml
/database
/Rplots.pdf
/logs
sample_info.txt
polII_sample_info.txt
/data/*
!/data/reference_data/
/analysis
/reports